{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
  <variant op="=" value="BaseOS"/>
  <distro_family op="=" value="RedHatEnterpriseLinux8"/>
  <distro_name op="=" value="RHEL-8.4.0-20201209.n.0"/>
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=true) }}
{% endset %}
{{- common.job(distro_requires=distro_requires,
               ks_append=ks_append) -}}
