{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
  <variant op="=" value="BaseOS"/>
  <distro_family op="=" value="RedHatEnterpriseLinux8"/>
  <distro_name op="=" value="RHEL-8.4.0-20201209.n.0"/>
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=false) }}
  <ks_append><![CDATA[
%post
# Add Advanced VIRT repo, required for virt tests
cat >/etc/yum.repos.d/rhel8-advvirt.repo <<EOF
[rhel8-advvirt]
name=rhel8-advvirt
baseurl=http://download.devel.redhat.com/rhel-8/rel-eng/ADVANCED-VIRT-8/latest-ADVANCED-VIRT-8.2.0-RHEL-8/compose/Advanced-virt/$(uname -i)/os/
enabled=0
gpgcheck=0
EOF
# Add Weekly rebase VIRT repo, required for virt tests
cat >/etc/yum.repos.d/virt-weeklyrebase.repo <<EOF
[virt-weeklyrebase]
name=virt-weeklyrebase
baseurl=http://batcave.lab.eng.brq.redhat.com/repos/test/weekly-latest/$(uname -i)/
enabled=0
gpgcheck=0
EOF
%end
]]>      </ks_append>
{% endset %}
{{- common.job(distro_requires=distro_requires, ks_append=ks_append,
               kcov_rhel_xy="83") -}}
