{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
  <distro_family op="=" value="RedHatEnterpriseLinux6"/>
  <distro_variant op="=" value="Server"/>
  <distro_name op="=" value="RHEL-6.10"/>
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=false) }}
{% endset %}
{% set repos %}
  {% if ARCH == "s390x" %}
    <repo name="pulp_0" url="http://rhsm-pulp.corp.redhat.com/content/els/rhel/system-z/6/6Server/s390x/os"/>
    <repo name="pulp_1" url="http://rhsm-pulp.corp.redhat.com/content/els/rhel/system-z/6/6Server/s390x/optional/os"/>
  {% else %}
    <repo name="pulp_0" url="http://rhsm-pulp.corp.redhat.com/content/els/rhel/server/6/6Server/{{ ARCH }}/os"/>
    <repo name="pulp_1" url="http://rhsm-pulp.corp.redhat.com/content/els/rhel/server/6/6Server/{{ ARCH }}/optional/os"/>
  {% endif %}
{% endset %}
{% set host_requires %}
  {# NOTE(bgoncalv): For i386 only uses systems that also supports x86_64 #}
  {# More details: https://gitlab.com/cki-project/kpet-db/-/merge_requests/178#note_504036929 #}
  {% if ARCH == "i386" %}
    <and>
      <system>
        <arch op="=" value="i386"/>
        <arch op="=" value="x86_64"/>
        <compatible_with_distro arch="i386" osmajor="RedHatEnterpriseLinux6"/>
      </system>
    </and>
  {% endif %}
  {# NOTE(bgoncalv): Force it to our dedicated s390x nodes which support RHEL-6 #}
  {% if ARCH == "s390x" %}
    <or>
      <hostname op="like" value="kernelci%s390%"/>
    </or>
  {% endif %}
{% endset %}
{{- common.job(distro_requires=distro_requires,
               host_requires=host_requires,
               ks_append=ks_append,
               repos=repos) -}}
